.page-title {
  background-image: url(https://static.pexels.com/photos/6675/flight-mountains-sky-flying-large.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 80px;
  color: #fff;
  text-shadow: 0 2px #828282;
  margin-bottom: 2rem;
}

input[type="search"] {
  box-shadow: none;
}
